# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
cmd/driverutil/driverutil
cmd/driverutil/driverutil.exe
cmd/makeDriver/makeDriver
cmd/makeDriver/makeDriver.exe
cmd/makeTemplates/makeTemplates
cmd/makeTemplates/makeTemplates.exe
cmd/run/run
cmd/run/run.exe

# Almost everything in data directories
cmd/makeDriver/data/*
!cmd/makeDriver/data/README.md
cmd/makeTemplates/data/*
!cmd/makeTemplates/data/README.md
sqlite/data/*
!sqlite/data/README.md
drivers/sqlite/data/*
!drivers/sqlite/data/README.md

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum
